.App {
  padding: 40px 0;
}

.App__title {
  font-size: 32px;
  margin-bottom: 16px;
}

.App__copy {
  font-size: 16px;
  margin-bottom: 16px;
}

.App__small {
  font-size: 12px;
}

.App__card-list {
  margin: 12px 0;
}
