.Card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 16px;
  width: 360px;
  box-shadow: 0 8px 10px #01437d1a;
  margin-bottom: 12px;
}

.Card__head {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: center;
  justify-content: space-between;
}

.Card__title {
  font-size: 12px;
  color: #00827e;
  margin: 0;
  text-transform: uppercase;
}

.Card__remove-btn {
  background-color: #fff;
  color: red;
  font-size: 12px;
  max-width: 30px;
  padding: 2px;
  text-align: center;
}

.Card__type {
  margin-bottom: 12px;
}

.Card__number {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.Card__number-mask {
  font-size: 40px;
}

.Card__number-mask span {
  display: inline-block;
  margin-right: 4px;
}

.Card__number-hidden {
  height: 40px;
  padding: 5px 0;
  width: 60%;
  background-color: lightgray;
}

.Card__number-toggle {
  font-size: 10px;
  width: auto;
  padding: 4px 8px;
  background-color: #01437d;
  color: #fff;
  margin-left: 8px;
}

.Card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Card__block {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.theme-dark .Card {
  background-color: #3f3351;
}

.theme-dark .Card__title {
  color: #e9a6a6;
}

.theme-dark .Card__number-toggle {
  background-color: #864879;
  color: #fff;
}
